<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    html, body {
        margin: 0;
        height: 100%;
    }
    </style>
    <script type="text/javascript">
      const CALCULATIONS = {{calculations|tojson}};
    </script>
  </head>
  <body class="bg-light">

    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Seniority</h5>
          <h6 class="card-subtitle mb-2 text-muted">Driver Preference</h6>
          <p class="card-text">The length of time a driver has been on the platform increases their chances of getting assigned a ride.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Equality</h5>
          <h6 class="card-subtitle mb-2 text-muted">Driver Preference</h6>
          <p class="card-text">Low earnings relative to other drivers increases the odds of getting a ride.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Wait Time</h5>
          <h6 class="card-subtitle mb-2 text-muted">Passenger Preference</h6>
          <p class="card-text">The algorithm should try to minimize passenger wait times as much as possible.</p>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
        <div id="DriverIncomesHistogram"></div> <div id="PassengerWaitTimesHistogram"></div>
    </div>

    <div class="container d-flex justify-content-center">
      <div class="form-group jumbotron my-auto" style="width: 50%;">
      <form action="/" id="form">
          <label for="seniority_weight" class="form-label">Seniority Weight</label>
          <input type="range" name="seniority_weight" class="form-range" value="0" min="0" max="1" step=".2" id="seniority_weight" oninput="seniority_weight_output.value = map_values_to_importance[this.value]; submitForm();"><output id="seniority_weight_output">Not Important</output>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="seniority_checkbox" oninput="$('#seniority_weight').prop('disabled', $('#seniority_checkbox').is(':checked'));">
            <label class="form-check-label" for="seniority_checkbox">
              Optimize?
            </label>
          </div>
          <br />

          <label for="fairness_weight" class="form-label">Fairness Weight</label>
          <input type="range" name="fairness_weight" class="form-range" value="0" min="0" max="1" step=".2" id="fairness_weight" oninput="fairness_weight_output.value = map_values_to_importance[this.value]; submitForm();"><output id="fairness_weight_output">Not Important</output>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fairness_checkbox" oninput="$('#fairness_weight').prop('disabled', $('#fairness_checkbox').is(':checked'));">
            <label class="form-check-label" for="fairness_checkbox">
              Optimize?
            </label>
          </div>
          <br />

          <label for="waittime_weight" class="form-label">Passenger Wait Time Weight</label>
          <input type="range" name="waittime_weight" class="form-range" value="0" min="0" max="1" step=".2" id="waittime_weight" oninput="waittime_weight_output.value = map_values_to_importance[this.value]; submitForm();"><output id="waittime_weight_output">Not Important</output>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="waittime_checkbox" oninput="$('#waittime_weight').prop('disabled', $('#waittime_checkbox').is(':checked'));">
            <label class="form-check-label" for="waittime_checkbox">
              Optimize?
            </label>
          </div>
          <br />

      </form>
      </div>
    </div>

    <div id="driver_table">
      <table class="table">
        <!-- Table headers -->
        <thead>
          <tr>
            <th scope="col">Driver</th>
            {% for i in range(0, maxTableCols) %}
            <th scope="col">Passenger Trip {{i+1}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for i in range(0, calculations["DriverObjects"]|length) %}
        <tr>
          <td>Income: ${{calculations["DriverObjects"][i]["income_earned"]|round}}<br>Months Active: {{calculations["DriverObjects"][i]["months_active"]}}</td>
          {% for n in range(0, calculations["DriverObjects"][i]["lst_passenger_trips"]|length) %}
          <td>Trip Start Time: {{calculations["DriverObjects"][i]["lst_passenger_trips"][n]["trip_start_time"]|round}} s<br>Wait Time: {{calculations["DriverObjects"][i]["lst_passenger_trips"][n]["trip_wait_time"]|round}} s<br>Trip Cost: ${{calculations["DriverObjects"][i]["lst_passenger_trips"][n]["trip_cost"]|round}}<br>Trip Length: {{calculations["DriverObjects"][i]["lst_passenger_trips"][n]["trip_length"]|round}} mi<br>Trip Duration: {{calculations["DriverObjects"][i]["lst_passenger_trips"][n]["trip_duration"]|round}} s</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      console.log(CALCULATIONS);
      var map_values_to_importance = {
        "0": "Not Important",
        "0.2": "Less Important",
        "0.4": "Somewhat Important",
        "0.6": "More important",
        "0.8": "Very Important",
        "1": "Extremely Important"
      };

      var driver_income_histogram = {
        x: CALCULATIONS["DriverIncomes"],
        type: 'histogram',
      };
      var driver_income_histogram_layout = {
        title: "Histogram of Driver Incomes",
        xaxis: {title: "Driver Incomes (dollars per day)"},
        yaxis: {title: "Number of Drivers"},
        width: 500,
        height: 300
      }
      var data = [driver_income_histogram];
      var config = {'staticPlot': true};
      Plotly.newPlot('DriverIncomesHistogram', data, driver_income_histogram_layout, config);


      var passenger_wait_time_histogram = {
        x: CALCULATIONS["PassengerWaitTimes"],
        type: 'histogram',
      };
      var passenger_wait_time_histogram_layout = {
        title: "Histogram of Passenger Wait Times",
        xaxis: {title: "Passenger Wait Time (in seconds)"},
        yaxis: {title: "Number of Passengers"},
        width: 500,
        height: 300
      }
      var data = [passenger_wait_time_histogram];
      Plotly.newPlot('PassengerWaitTimesHistogram', data, passenger_wait_time_histogram_layout, config);


      $("#form").submit(function(e) {
        e.preventDefault();
      });

      function handleResponse(calculations) {
        var driver_income_histogram = {
          x: calculations["DriverIncomes"],
          type: 'histogram',
        };
        var data = [driver_income_histogram];
        Plotly.react('DriverIncomesHistogram', data, driver_income_histogram_layout, config);

        var passenger_wait_time_histogram = {
          x: calculations["PassengerWaitTimes"],
          type: 'histogram',
        };
        var data = [passenger_wait_time_histogram];
        Plotly.react('PassengerWaitTimesHistogram', data, passenger_wait_time_histogram_layout, config);

        $('#driver_table').html(calculations["new_driver_table"]);

        // $("#seniority_weight").val(calculations["i"]);
        // $('#seniority_weight_output').val(map_values_to_importance[calculations["i"]]);
        // $("#fairness_weight").val(calculations["j"]);
        // $('#fairness_weight_output').val(map_values_to_importance[calculations["j"]]);
        // $("#waittime_weight").val(calculations["k"]);
        // $('#waittime_weight_output').val(map_values_to_importance[calculations["k"]]);
      };

      var request = null;

      function submitForm() {
        var seniority_weight = $('#seniority_weight').val();
        var fairness_weight = $('#fairness_weight').val();
        var waittime_weight = $('#waittime_weight').val();
        var seniority_checkbox = $('#seniority_checkbox').is(':checked');
        var fairness_checkbox = $('#fairness_checkbox').is(':checked');
        var waittime_checkbox = $('#waittime_checkbox').is(':checked');

        console.log(seniority_weight, fairness_weight, waittime_weight);
        console.log(seniority_checkbox, fairness_checkbox, waittime_checkbox);

        var url = '/update_graphs?seniority_weight=' + seniority_weight
           + '&fairness_weight=' + fairness_weight
           + '&waittime_weight=' + waittime_weight
           + '&seniority_checkbox=' + seniority_checkbox
           + '&fairness_checkbox=' + fairness_checkbox
           + '&waittime_checkbox=' + waittime_checkbox;

        console.log(url);

        if (request != null) {
             request.abort();
           };

         request = $.ajax(
           {
             type: 'GET',
             url: url,
             success: handleResponse
           }
         );
      };
    </script>
  </body>
</html>
